<!DOCTYPE html>
<html>

<head>
    <title>Palabras Clave: {{ tipo }}</title>
    <!-- Agrega aquí tus referencias CSS de Bootstrap u otros estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dependencies/bootstrap.min.css') }}">
</head>

<body>
    <div class="container mt-1 mb-1">
        <a href="/" class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door"
                viewBox="0 0 16 16">
                <path d="M8 1.293l6 6V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-6.707l6-6a.5.5 0 0 1 .707 0z" />
                <path d="M7 1v6h2V1H7z" />
                <path fill-rule="evenodd"
                    d="M0 14a1 1 0 0 1 1-1h1v-1a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v1h1a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2H1a2 2 0 0 1-2-2v-1z" />
            </svg> Inicio
        </a>
        <h2>Palabras Clave: {{ tipo }}</h2>
    </div>

    <div class="container mt-2 ml-10 mb-2">
        <div class="form-row">
            <button type="button" class="btn btn-primary eliminar-clave">Eliminar</button>
        </div>
    </div>

    <div class="container mt-2 ml-5 mb-5">
        <ul id="lista-claves" class="list-group">
            <!-- Aquí se cargarán dinámicamente las fechas de las planillas -->
        </ul>

    </div>


    <!-- Agrega la referencia a Bootstrap JS y Popper.js (necesario para los componentes interactivos de Bootstrap) -->
    <script src="{{ url_for('static', filename='dependencies/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dependencies/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dependencies/bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            // Función para cargar las fechas de planillas usando Ajax
            function cargarClaves() {
                $.ajax({
                    url: "{{ url_for('get_claves', tipo=tipo) }}",
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var lista = '';
                        for (var i = 0; i < data.length; i++) {
                            lista += '<li id="claves" class="list-group-item">';
                            lista += '<label>';
                            lista += '<input type="checkbox" name="check" value="' + data[i] + '">'; // Agregar el checkbox
                            lista += '<a>  ' + data[i] + '</a>';
                            lista += '</label>';
                            lista += '</li>';
                        }
                        $('#lista-claves').html(lista);
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            }

            // Cargar las fechas de planillas al cargar la página
            cargarClaves();

            var selectedIds = [];

            $('#lista-claves').on('change', 'input[type="checkbox"]', function () {
                var checkboxValue = $(this).val();

                if ($(this).prop('checked')) {
                    selectedIds.push(checkboxValue);
                } else {
                    selectedIds = selectedIds.filter(function (id) {
                        return id !== checkboxValue;
                    });
                }
            });

            $('.btn.btn-primary.eliminar-clave').click(function () {
                $.ajax({
                    url: "{{ url_for('borrar_clave', tipo=tipo) }}",
                    data: { "lista": selectedIds.join(',') },
                    type: 'POST', // You might want to change this to 'POST' based on your server configuration
                    dataType: 'json',
                    success: function (data) {
                        selectedIds = [];
                        cargarClaves();
                        // Handle success response
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>


</body>

</html>